<a style='color:white' href='/index' id=myButton>Return to Home</a>
{% extends 'base.html' %}
{% block content %}
<body>
  <body id="resumegrad" style="font-size:18px; color:aliceblue"></body>
    <h1 style='text-align: center;'>Reid Taylor<span class="half"></span>-<span class='half'></span>RBTaylor@email.sc.edu</h1>
    <h2><i> </i></h2>
    <form>
      <fieldset>
        <legend><h2 style='text-align: center;'>Personal Statement</h2></legend>
          <p style='text-align: center;'>An ardent student who strives to consistently enrich the lives of peers and followers. A reflective leader proven to effectively organize and shepherd various groups.</p>
          <p style='text-align: center;'>As I step into college and the next stage of my life, I am eager to begin putting to use the skills that I have been studying for multiple years, and that I will continue to study, both in the workplace and in my personal life.</p>
        </fieldset><br>
      <fieldset>
        <legend style='text-align: center;'><h2>Education</h2></legend>
        <h3><b>University of South Carolina, Honors College</b></h3>
        <h4><i>Bachelor's of Science in Mathematics</i></h4>
        <h5>August 2020 - May 2022 (Exp.)</h5>
            <p><span class="tab"></span>Cumulative GPA: 4.0 of 4.0</p>
            <p><span class="tab"></span>Physics Concentration</p>
            <p><span class="tab"></span>Relevant Coursework:</p>
            <p><span class="tab"></span><span class="tab"></span>Physics, Vector Calculus, Formal Logic and Proofing</p>
            <p><span class='tab'></span>Expected and Relevant Coursework for next Semester:</p>
            <p><span class="tab"></span><span class="tab"></span>Statistical Methods 1, Linear Algebra, Vector Analysis</p>
          <br>
        <h3><b>DataCamp</b></h3>
          <h5>May 2020 - Current</h5>
            <p><span class="tab"></span>Primary focus on data science with Python</p>
            <p><span class="tab"></span>Additional study of data science with R</p>
        <p></p>
        <h3><b>Recent Reading:</b></h3>
          <h5>"21 Irrefutable Laws of Leadership" - John Maxwell</h5>
            <p><span class="tab"></span>From this book I learned several valuable lessons concerning the virtues and vices of leadership, and have been able to apply these lessons at every opportunity. Specific instances and applications of these lessons are discussed near the bottom of this page in your letter.</p>
      </fieldset><br>
      <fieldset>
        <legend style='text-align: center;'><h2>Experience</h2></legend>
        <h3><b>Academic Tutoring</b></h3>
          <h5>Organizer, Group Leader: January 2018 - Present</h5>
          <p><span class="tab"></span>Consistent and independent tutoring of 15+ students of various ages over the course of more than two years, both for previously completed courses and concurrent courses, including: Calculus, Statistics, Algebra, Geometry, Physics, Spanish, and others. This tutoring took place both as individual sessions and in groups of up to six.</p>
          <br>
        <h3><b>NewSpring Church</b></h3>
        <h5>Production Volunteer: April 2018 - Present</h5>
          <p><span class='tab'></span>Responsible for the production of live worship and broadcasting live feeds between church locations. Serving on a team of generally 3-5 people, I have worked as the broadcast manager, both for routine Sunday services and annual conferences, and as the audio-video relay switcher directly with the program director.</p>
        <br>
        <h3><b>Youth Corps Leadership Program</b></h3>
          <h5>Graduate, Mentor, Team Leader: April 2018 - Present</h5>
          <p><span class="tab"></span>After going through the program as a student, I returned at each opportunity available to assist the program leadership in conducting interviews, orientation sessions, and for leading small groups of seven to eight as the sole leader over weekend retreats and during day sessions. Additionally, I have served as the featured speaker as to the impact of the program for two consecutive, annual luncheon events.</p>
        <br>
        <h3><b>Oliver Gospel Mission</b></h3>
          <h5>Volunteer: August 2020 - Present</h5>
          <p><span class='tab'></span>While this started simply as part of my outreach into Columbia, SC as I started college, this has morphed into an exciting opportunity for me this semester. I am currently in a podcasting class which is centered around issues of food insecurity across the state; after discussing my volunteering experience with my professor, I have gotten the greenlight to focus my final project for this class around one of the staff members at the Oliver Gospel Mission: Spanky. I will be working with Spanky over the month of November to create a 3 to 5 minute interview about his experience going through the Oliver Gospel Mission rehabilitation program and his reintroduction to society from being previously homeless and food insecure, and how this experience has helped to shape him over the last three to four years.</p>
          <p><span class='tab'></span><i>Side note: I will be posting this podcast to this website when it's completed, stay tuned for that bit! Spanky's an amazing story teller and has a captivating story to tell.</i></p>
        </fieldset><br>
        <fieldset>
          <legend style='text-align:center;'><h2>Awards and Associated Skills</h2></legend>
            <p><span class='tab'></span><b>Gauss Mathematics Award:</b> This award was given to me at my high school last year, and was given in recognition of excellence in mathematics. The math department convenes at the closing of each year and chooses one student who they deem to have the best grasp of every subject of mathematics attempted throughout their tenure in high school. For me, this list included studies in algebra, statistics, and calculus.</p>
            <p><span class='tab'></span><b>Top SAT and PSAT Scores:</b> These awards were given to me by my district in recognition of leading performance on both the SAT and PSAT standardized tests throughout our the four high-schools of our district.</p>
            <p><span class='tab'></span><b>Outstanding Spanish Scholar:</b> This award was given to me by the Spanish teacher I had each year throughout high school; in giving me this award, Señora Sadowski publicly recognized my commitment to her class and to the study of the Spanish language and culture as a whole. After five years of study, and with multiple volunteering and social events for exposure, I have become near-fluent in conversation and writing, both formally and informally.</p>
            <p><span class='tab'></span><b>National Merit Scholarship:</b> This scholarship was awarded to me by the National Merit Scholarship Qualifying Test (NMSQT) in recognition of a nationally acclaimed test score, and was recognized and further funded by my university.</p>
            <p><span class='tab'></span><b>Outstanding Support Performance:</b> This award was given to me by my theatre director in my junior year of high school after our production of Shakespeare's "Much Ado About Nothing", and was given in recognition of my commitment and passion for the production of this play as a whole, as well as my constant drive to improve my performance to further enrich the play.</p>
            <p><span class='tab'></span><b>King's Crown:</b> This was given to me by my peers at my senior homecoming; you might say it's a little odd (or, God forbid, narcissistic) to include this, but to me it resembles the relationships that I built over my tenure in high school, and the care that I showed to always be a friend to those around me and to always be available to help.</p>
        </fieldset>
    </form>
  </body>
{% endblock %}